@charset "UFT-8"; 

* { margin : 0; padding: 0; }/*to remove browser settings already.This removes all spacings in page*/

*{text-decoration: none;}/*to remove underlines in  all hyperlinks*/

p{margin-bottom: 20px;margin-top: 10px; color: #635c4b}
a{color: red;}

.clearfix{overflow: auto} /*to inherit colours and other stuff to child classes from main class*/

.wrapper{/*wrapper class settings*/
	/*margin : 0 auto;*/
	margin-top: 200px;
}

.header{
	background-color: #37D61B;
}

.aboutcol{
	width: 300px;
	margin-right: 33.33px;
	float: left;
}

div.row{
	margin-top: 200px;
	margin-left: 30px;
	margin-right: 30px;
}

div.col-12col-sm-6col-md-4col-lg-4col-xl-2{
	margin-left:10px;
}